body {
  width: 800px;
  height: 400px;
  overflow: hidden;
}

#groupslist {
  width: 225px;
  overflow-y: scroll;
  float: left;
}

#groupslist ul {
  padding: 0px;
}

#groupslist li {
  width: auto;
  overflow-y: scroll;
  padding: 5px;
  border: #ddd 1px solid;
  margin: 5px;
}

#groupslist li:hover {
  background-color: #ccffff;
  cursor: pointer;
}

#chatrooms {
  border: #ddd 2px solid;
  width: 500px;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  overflow-x: auto;
  white-space: nowrap;
}

.chatroom {
  background: #eeeeff;
  height: 300px;
  width: 250px;
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

.chatroom h4{
  width: auto;
  padding: 5px;
  margin: 5px 0px;
}

.chatroom h4 .closebutton{
  float: right;
}

.chatroom .messages{
  overflow-y: scroll;
  height: 225px;
  border: #ddd 2px solid;
}

.chatroom ul{
  padding: 0px;
  list-style-type: none;
}

.chatroom li{
  padding: 3px;
  margin: 4px 3px;
  background: #77eeff;
}

.chatroom li{
  padding: 0px;
}

.chatroom li p{
  margin: 0px;
  padding: 0px;
}

.chatroom .sender{
  font-style: italic;
  color: #555;
}

.chatroom .chatinput, #newchatinput{
  width: 100%;
  padding: 0px;
  resize: none;
}

